@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

/* 全体 */
body {
  background-color: #faf8f7;
}

a,
p,
input,
.select-option {
  /* Windowsでのジャギー対策 */
  transform: rotate(0.05deg);
}

/* 色 */
.text-natural-black {
  color: #5a5a5a;
}

.bg-shiny {
  background-color: #8dbbff;
}

/* アイドルのイメージカラー */
@import './idol-color.css';

@tailwind utilities;
