@tailwind base;
@tailwind components;

@import './idol-color.css';

/* 全体 */
body {
  background-color: #faf8f7;
}

a,
p,
input,
.select-option {
  /* Windowsでのジャギー対策 */
  transform: rotate(0.05deg);
}

.font-size-none {
  font-size: 0;
}

/* 色 */
.text-natural-black {
  color: #2c2c2c;
}

.bg-shiny {
  background-color: #8dbbff;
}

@tailwind utilities;
