.bg-amana {
  background-color: #f54275;
}

.bg-asahi {
  background-color: #f30100;
}

.bg-chiyoko {
  background-color: #f93b90;
}

.bg-chiyuki {
  background-color: #fbfafa;
}

.bg-fuyuko {
  background-color: #5ce626;
}

.bg-hinana {
  background-color: #ffc639;
}

.bg-hiori {
  background-color: #144384;
}

.bg-juri {
  background-color: #ffc602;
}

.bg-kaho {
  background-color: #e5461c;
}

.bg-kiriko {
  background-color: #d9f2ff;
}

.bg-kogane {
  background-color: #f84cad;
}

.bg-koito {
  background-color: #7967c3;
}

.bg-luca {
  background-color: #1e140e;
}

.bg-madoka {
  background-color: #be1e3e;
}

.bg-mamimi {
  background-color: #a846fb;
}

.bg-mano {
  background-color: #ffbad6;
}

.bg-meguru {
  background-color: #ffe012;
}

.bg-mei {
  background-color: #ff00ff;
}

.bg-mikoto {
  background-color: #760e10;
}

.bg-natsuha {
  background-color: #90e667;
}

.bg-nichika {
  background-color: #a5cfb6;
}

.bg-rinze {
  background-color: #89c3eb;
}

.bg-sakuya {
  background-color: #006047;
}

.bg-tenka {
  background-color: #e75bec;
}

.bg-toru {
  background-color: #50d0d0;
}

.bg-yuika {
  background-color: #3b91c4;
}
