name: vrt

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  vrt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Setup playwright
        run: npx playwright install --with-deps

      - name: Run VRT
        run: |
          pnpm run vrt:update
          pnpm run vrt

      - name: Upload report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-vrt
          path: playwright-report/
          retention-days: 30
